@import '../../index.scss';

.Header {

    background-color: $green;
    padding: $padding;
    color: white;
    position: relative;

    h1 {
        margin: 0;
    }

    nav {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: $padding;

        ul {
            margin: 0;
            display: flex;
            justify-content: space-between;

            a {
                padding: $padding;
            }
        }
    }
}